  * {
	box-sizing: border-box;
}
    html, body {

        scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 24px;
    /* background-color:rgba(6, 11, 8, 0.933);
    color: #edee; */
    cursor:none;

    background: linear-gradient(-45deg, #065729, #325b3e, #523052, #361d1d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
        
    }

    header {
    display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column; /* Flexbox >> items stack in a column */
	align-items: center; /* >> vertically centered */
	justify-content: center; /* centered horizontally */
	background-color: #1d3022;
    text-align:center;
    word-spacing:5px;
	color:rgb(235, 237, 249);
    transition:1s;
    }

    header:hover {
        background-color: #d5d8f2;
        color:#1b4129;
    }

    .intro {
    width: auto;
    border: 1px solid #9ea5e4;
    padding: 50px;
    margin: 100px;
    text-align:center;
    transition: 0.5s;

    animation:fadeIn 5s;

    }

    .intro:hover {
     background-color: #ced1e9;
      color:rgb(31, 45, 36);
      border-radius: 70px;

      transition:1.5s;
    }
    /* .intro {
    width: auto;
    border: 1px solid #9ea5e4;
    padding: 50px;
    margin: 100px;
    text-align:center;
    transition: 0.5s;

    animation:fadeIn 5s;

    }

    .intro:hover {
     background-color: #ced1e9;
      color:rgb(31, 45, 36);
      border-radius: 70px;
    } */

    @keyframes fadeIn {
        0%{opacity:0;}
        100% {opacity:1;}
    
    }

  
    .parent {
        display: grid;
        grid-template-columns: 1fr 1fr; /* right column x2 of left */
        padding: 0px;
        grid-gap: 80px;
        margin-right: 50;
        
        align-items: stretch; /* drid items w/equal height */
        width:100vw;
        transition:0.5s;
    
    }

    .parent div { /* Applies CSS styles to all <div> elements inside of <div class="parent"> */
        height: 100vh; /* Forces height to not change */
        overflow: scroll; /* Content inside can only be viewed via scrolling */
}

.parent:hover{
    /* background-color:rgb(255, 255, 255); */
    background: linear-gradient(-45deg, #ddf0e5, #bcd6e3, #f4eef4, #faf6ea);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 90px;
}

.side{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 30px;
    border-radius: 10px;
    transition:1s;
}

.side:hover {
   background-color: rgb(216, 230, 240);
    color:#1d2129;
}

/*FONT teXT TYPES*/
h1{
    font-family:'CiaoMilan';
    font-size: 150px;
    letter-spacing: 3p;
    transition:0.4s;
    animation:fadeIn 5s;
}

h1:hover{
    color:#556440;
    font-size:157px;
    letter-spacing: 8p;
}

/*text changes w/span*/
.site {
    font-family:'CiaoMilan';
    font-size:100px;
    letter-spacing: 3px;
    transition:0.5s;
    animation:fadeIn 5s;
}

.site:hover {
   color:#60669d;
    
}

.quote {
    font-family: 'CiaoMilan';
    font-size: 60px;
    letter-spacing: 3p;
    transition:1.0s;
    animation:fadeIn 5s;
}

.quote:hover {
    color:#52a368;
}

.jamie {
    font-family: 'Batusa';
    font-size: 18px;
    letter-spacing: 3p;

    transition:1.0;
    animation:fadeIn 5s;
}

.jamie:hover {
    color:#315697;
}

.quote2 {
    padding: 50px;
    margin: 20px;
    font-family:'CiaoMilan';
    font-size: 50px;
    animation:fadeIn 5s;
    transition:0.5s;
}

.quote2:hover{
    color:#ef4608;
}

.quote3 {
    padding: 50px;
    margin: 20px;
    font-family:'CiaoMilan';
    font-size: 50px;
    text-align:left;
    animation:fadeIn 5s;
    transition:0.5s;
}

.quote3:hover{
    color:#ef4608;
}

h2{
    font-family:'CiaoMilan';
    animation:fadeIn 5s;
    transition:0.5s;
}


h2:hover{
   font-size:20px;
}

h4{
    font-family:'Batusa';
    font-size: 80px;
    letter-spacing: 3p;
    transition:1.0s;
    animation:fadeIn 5s;
}

h4:hover {
    color:#44ff76;
}

h3{
    font-family:'Batusa';
    font-size: 40px;
    letter-spacing: 4p;
    transition:1.0s;
    animation:fadeIn 5s;

    color:rgb(187, 193, 217);
}

h3:hover {
    color:#4f1b00;
}

h5 {
    font-family:'Batusa';
    transition:0.5s;
}

h5:hover {
    color:#44ff76;
     
 }
h6 {
    font-family:'Batusa';
    transition:0.5s;
}

h6:hover {
    color:#201868;
     
 }



a{
    font-family:'Batusa';
 
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.wide {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column; /* Flexbox >> items stack in a column */
	align-items: center; /* >> vertically centered */
	justify-content: center; /* centered horizontally */
}

.books-grid{
	display:grid;
    grid-template-columns: 1fr 1fr
}

.books-grid img{
	width: 200px;
}


/*****mobile functions******/

@media screen and (max-width: 750px) {
        html, body {
         max-width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
        height: inherit;
        
        background-color: #d5daff;
        color:rgb(223, 255, 219);
        };

  header {
    display: inline-block;
    padding: 10px;
		margin-bottom: 40px;
		height: auto;

        text-align:center;
        flex-direction: column; /* Flexbox >> items stack in a column */
        align-items: center; /* >> vertically centered */
        justify-content: center; /* centered horizontally */
        background-color: #e4e2ff;
        word-spacing:5px;
        color:rgb(225, 230, 255);
    }


}






/*font faces*/
@font-face {
    font-family: 'Germania One', cursive;
    src: url("GermaniaOne-Regular.ttf") format("TrueType");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
    font-family: 'Lato', sans-serif;
    src: url("Lato-Regular.ttf") format("TrueType");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
    font-family: 'UnifrakturMaguntia', cursive;
    src: url("UnifrakturMaguntia-Regular.ttf") format("TrueType");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
    font-family: 'EB Garamond', serif;
    src: url("EBGaramond-Regular.ttf") format("TrueType");
	font-weight: normal;
	font-style: normal;
  }

  @font-face{
    font-family:'CiaoMilan' ;
    src: url(FoNTs/CiaoMilan-Font/CiaoMilan-Regular.otf) format('OpenType');
    font-weight:normal; 
    font-style:normal;

  }


  @font-face{
    font-family:'Batusa';
    src: url(FoNTs/Batusa-Font/Batusa-Regular.otf) format('OpenType');
    font-weight:normal;
    font-style:normal;

  }



/********* SCRAPPED PARTS **********/
  /* .left-side{
        position:-webkit-sticky;
        position:sticky;
        display: grid;
        grid-template-columns: 1fr;
        left: 50px;
        top: 0;
        padding: 10;
        height: 100%;
        overflow: hidden;

        animation:fadeIn 5s;
        /* border: 2px solid #4CAF50;
    }*/

/*CURSOR TEST*/

/* #invertedcursor {
    position: absolute;
    width: 40px;
    height: 0px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s;
  } */


 


      /* On screens that are 992px wide or less, the background color is blue */
     /* @media screen and (max-width: 992px) {
        html, body {
                max-width: 100vw;
                overflow-x: hidden;
                overflow-y: scroll;
                height: inherit;
        
          /* background-color: rgb(213, 255, 202);
          color:rgb(53, 50, 50); */
      /*  };
      } */
      /* On screens that are 600px wide or less, the background color is olive */
     /* @media screen and (max-width: 600px) {
        body {
          background-color: rgb(255, 255, 189);
          color:rgb(53, 50, 50);
        }
    } */

    /* #scroll-container {
        border: 3px solid black;
        border-radius: 5px;
        overflow: hidden;
      } */

     
/* header {
	display: flex;
	width: 100vw;
	height: 100vh;
    
	flex-direction: column; /* Flexbox >> items stack in a column */
	/* align-items: center; >> vertically centered
	justify-content: center; centered horizontally
	background-color: #1d3022;

    
    text-align:center;
    word-spacing:5px;
	color:white;

    transition:0.5s;
} */ 

/*header:hover {
   display: flex;
   width: 100vw;
   height: 100vh;*/
   
	/*flex-direction: column; /* Flexbox >> items stack in a column */
	/*align-items: center; /* >> vertically centered */
	/*justify-content: center; /* centered horizontally */

    /* background-color: #edeeff;
	color: #1d3022; */
/*}*/

/********** OLD NAV BAR ************/

/* .navbar {
	position: sticky;
	top: 0px;
	background-color: #ff927e;
    font-family: 'UnifrakturMaguntia';
	color: white;
	width: 100vw;
	padding: 0;
	display: flex;
	align-items: center; /*  vertical centers */
/* } */

/* .flex-bar { 
    flex-grow: 1; making items fill up space */
	/* padding: 10px;
	text-decoration: none;
	color: white;
	transition: .2s;
	text-align: center;
}
.flex-bar:hover {
	background-color: #a8ff66; */
	/* color: #f97f7f; */ 
/* } */



/* .side{
    position: fixed;
	bottom: 50px;
	left: 50px;
    font-family: 'Space Mono'; 
} */

/* #section1 {
	width: auto;
    border: 1px solid rgb(255, 85, 28);
    padding: 50px;
    margin: 20px;
    transition-duration: .5s;
}

#section1:hover{
    background-color: rgb(206, 0, 0);
    color:rgb(255, 236, 235);
}


#section2 {
	width: auto;
    border: 1px solid rgb(255, 85, 28);
    padding: 50px;
    margin: 20px;
    transition-duration: .5s;
}

#section2:hover{
    background-color: rgb(206, 0, 0);
    color:rgb(255, 236, 235);
}


#section3 {
    width: auto;
    border: 1px solid rgb(255, 85, 28);
    padding: 50px;
    margin: 20px;
    transition-duration: .5s;
}

#section3:hover{
    background-color: rgb(206, 0, 0);
    color:rgb(255, 236, 235);
}


#section4 {
    width: auto;
    border: 1px solid rgb(255, 85, 28);
    padding: 50px;
    margin: 20px;
    transition-duration: .5s;
}

#section4:hover{
    background-color: rgb(206, 0, 0);
    color:rgb(255, 236, 235);
}
 */

 /* #section1 {
	width: auto;
    border: 1px solid rgb(255, 85, 28);
    padding: 50px;
    margin: 20px;
    transition-duration: .5s;
}

#section1:hover{
    background-color: rgb(206, 0, 0);
    color:rgb(255, 236, 235);
}
*/
/* #section1 {
    left:50px;
    padding: 50px;
    margin: 20px;
} */

/* #section:hover {

} */

/* #section2 {
    padding: 50px;
    margin: 20px;
} */

/* #section2:hover {
    
} */



 /***** main body text *******/
/* .main_body {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
    font-family: 'Batusa';
    height:max-content;

}
.main_body p { /* Applies styles to all <p> tags inside of <div class="content"> */
	/*max-width: 800px;
	display: flex;
}
