  * {
	box-sizing: border-box;
 
/* preload added code: */
    /* margin:0;
    padding:0;
    box-sizing:border-box; */
}

html, body {

    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 24px;
    /* background-color:rgba(6, 11, 8, 0.933);
    color: #edee; */
    overflow-x: hidden;
    cursor:none;
    background: linear-gradient(-45deg, #065729, #325b3e, #523052, #361d1d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color:#ddf0e5;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
        
    }


/***********************************************************************/
/***********************************************************************/
/* /FINAL LOADER */

.containerA {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #000; */
    background: linear-gradient(-45deg, #1e2722, #141c32, #1d141d, #170e0e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    z-index: 1;
    color: #fff;
}

.counter {
    font-size: 4rem;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: difference;
    /* background: #fff; */
    background: linear-gradient(-45deg, #ddf0e5, #bcd6e3, #f4eef4, #faf6ea);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
   
}

/* .welcome {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background: #000;
} */


/***********************************************************************/
/***********************************************************************/

/* START OF ACTUAL PAGE ITEMS */

    header {
    display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column; /* Flexbox >> items stack in a column */
	align-items: center; /* >> vertically centered */
	justify-content: center; /* centered horizontally */
	/* background-color: #1d3022; */
    text-align:center;
    word-spacing:5px;
	color:rgb(235, 237, 249);
    transition:1s;
    }

    header:hover {
        /* background-color: #d5d8f2; */

         background: linear-gradient(-45deg, #ddf0e5, #bcd6e3, #f4eef4, #faf6ea);
        background-size: 400% 400%;
         animation: gradient 15s ease infinite;
       
        color:#1b4129;
        border-bottom: 50px;
    }

    .intro {
    width: auto;
    border: none;
    padding: 50px;
    margin: 40px;
    text-align:center;
    transition: 0.5s;

    animation:fadeIn 2s;

    }

    .intro:hover {
     background-color: #ced1e9;
      color:rgb(31, 45, 36);
      border-radius: 70px;
    }


    @keyframes fadeIn {
        0%{opacity:0;}
        100% {opacity:1;}
    
    }



    .container {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 1fr 30px;
      }
      
      .header {
        position:sticky;
        /* border-bottom: 1px solid lightgrey; */
        /* background: linear-gradient(-45deg, #065729, #325b3e, #523052, #361d1d);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite; */



      }
      
      .sidebar {
        padding-left:10px;

        border-right: 1px solid lightgrey;
        transition:0.3s;
        background: linear-gradient(-45deg, #065729, #325b3e, #523052, #361d1d);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        transition:0.8s;
      }


      .footer {
        position:fixed;
        border-top: 1px solid lightgrey;

        text-align:right;

            /* background: linear-gradient(-45deg, #065729, #325b3e, #523052, #361d1d);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite; */
      }
      
      .body {
        display: grid;
        grid-template-columns: 1fr 3fr;
        overflow: hidden;
      }
      
      .body:hover {
        background-color:#f2f6ff;
      }
      .content {
        overflow-y: scroll;
        padding-left: 65px;
        padding-right:25px;

        background: linear-gradient(-45deg, #065729, #325b3e, #523052, #361d1d);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        transition:1s;
      }

      .content:hover {
        background-color:#f2f6ff;
      }
      
      p {
        max-width: 600px;
      }



.divide {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column; /* Flexbox >> items stack in a column */
        align-items: center; /* >> vertically centered */
        justify-content: center; /* centered horizontally */
        /* background-color: #1d3022; */
        text-align:center;
        word-spacing:5px;
        color:rgb(168, 172, 196);
        transition:1s;
        }
    
.divide:hover {
        /* background-color: rgb(51, 52, 61, 0.5); */
        color:#bad1a6;
        border-bottom: 50px;
        }


/* .containerr {
            position: relative;
            width: 100vw;
            overflow: hidden;
          }
          
          .scrolling-text {
            display: inline-block;
            transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
            will-change: transform;
            backface-visibility: hidden;
          }
          
          .scrolling-text .scrolling-text-content {
            color: #fff;
            font-size: 120px;
            white-space: nowrap;
            transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
            line-height: 1em;
            margin: 50px 0;
          }
           */

.parent {
        display: grid;
        grid-template-columns: 1fr 1fr; /* right column x2 of left */
        padding: 0px;
        grid-gap: 80px;
        margin: 20;
        align-items: stretch; /* drid items w/equal height */
        width:100vw;
        transition:0.5s;
    
    }

.parent div { /* Applies CSS styles to all <div> elements inside of <div class="parent"> */
        height: 100vh; /* Forces height to not change */
        overflow: scroll; /* Content inside can only be viewed via scrolling */
}

.parent:hover{
    background-color:rgb(255, 255, 255);
    /* background: linear-gradient(-45deg, #ddf0e5, #bcd6e3, #f4eef4, #faf6ea); */
    /* background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 90px; */
}

.side{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 30px;
    border-radius: 10px;
    transition:1s;
}

.side:hover {
   background-color: rgb(216, 230, 240);
    color:#1d2129;
}


/******//******************* GRIDS *******************//******/

.portfolio-grid{
    display:grid;
    max-width:600px;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.portfolio-grid img{
    width: 500px;
    padding-left:50px;
}

.portfolio-grid a{
    font-family:'Batusa';
    font: size 24px;
    color:black;
    text-decoration: none;
    transition: opacity .2s;

}

.portfolio-grid a:hover {
    opacity:.5;
}

.portfolio-grid a:hover img {
    filter:grayscale(100%);
}

.portfolio-grid h4{
    padding:0;
}

#section1 {
    max-width:750px;
}

/*********************************/

/*FONT TYPES*/
h1{
    font-family:'CiaoMilan';
    font-size: 130px;
    letter-spacing: 3p;
    transition:0.4s;
    animation:fadeIn 5s;
}

h1:hover{
    color:#556440;
    font-size:137px;
    letter-spacing: 8p;
}

/*text changes w/span*/

.sidebartext {
    font-family:'Batusa';
    font-size:13px;
    letter-spacing:2px;
    transition:0.2s;
}

.sidebartext:hover {
    font-size:15px;
    letter-spacing:4px;
    color:#bcd6e3;
}

.citationtext {
    font-family:'Batusa';
    font-size:14px;
    max-width: 600px;
    transition:0.5s;
    
}

.citationtext:hover {
    font-style:italic;
    color:#bcd6e3;
}


/* font size */

.siteIntro {
    font-family:'CiaoMilan';
    font-size:70px;
    letter-spacing: 3px;
    transition:0.5s;
    color:#9f7b68;
}

.siteIntro:hover {
    font-size:90px;
    letter-spacing: 6px;
    transition:0.5s;
    color:#005422;
}


.site {
    font-family:'CiaoMilan';
    font-size:100px;
    letter-spacing: 3px;
    transition:0.5s;
    animation:fadeIn 5s;
}

.site:hover {
   color:#3f3f6c;
   letter-spacing: 10px;
   font-size: 120px;
    
}

.quote {
    font-family: 'Batusa';
    font-size: 35px;
    letter-spacing: 3p;
    transition:1.0s;
    animation:fadeIn 5s;
}

.quote:hover {
    color:#36376a;
}

.jamie {
    font-family: 'Batusa';
    font-size: 18px;
    letter-spacing: 3p;

    transition:1.0;
    animation:fadeIn 5s;
}

.jamie:hover {
    color:#315697;
}

.quote2 {
    padding: 50px;
    margin: 20px;
    font-family:'Batusa';
    font-size: 30px;
    font-style:italic;
    animation:fadeIn 5s;
    transition:0.5s;
   
}

.quote2:hover{
    color:#a4dfc2;
}

.quote3 {
    padding: 50px;
    margin: 20px;
   
    font-family:'Batusa';
    font-size: 30px;
    text-align:left;
    animation:fadeIn 5s;
    transition:0.5s;
}

.quote3:hover{
    Color:#a4dfc2;
}

.quote4 {
    font-family:'Batusa';
    font-size: 27px;
    font-style: italic;
    letter-spacing: 4p;
    transition:1.0s;
    animation:fadeIn 5s;

    color:rgb(187, 193, 217);
}

.quote4:hover {
    color:#ffc1a0;
}


.life {
    font-family:'Batusa';
    font-size:50px;
    transition:0.3s;
  }

.life:hover {
    font-size:55px;

}


h2{
    font-family:'CiaoMilan';
    animation:fadeIn 5s;
    transition:0.5s;
}


h2:hover{
   font-size:45px;
}

h4{
    font-family:'Batusa';
    font-size: 80px;
    letter-spacing: 3p;
    transition:1.0s;
    animation:fadeIn 5s;
}

h4:hover {
    color:#44ff76;
}

h3{
    font-family:'Batusa';
    font-size: 40px;
    letter-spacing: 4p;
    transition:1.0s;
    animation:fadeIn 5s;

    color:rgb(187, 193, 217);
}

h3:hover {
    /* color:#4f1b00; */
    color:#59cc77;
    font-style:normal;
}

    .question{
        font-family:'Batusa';
        font-size: 40px;
        letter-spacing: 4p;
        transition:1.0s;
        animation:fadeIn 5s;

        color:rgb(187, 193, 217);
    }

    .question:hover {
        color:#005422;
        font-style:normal;
    }


h5 {
    font-family:'Batusa';
    transition:0.5s;
}

h5:hover {
    color:#44ff76;
     
 }
h6 {
    font-family:'Batusa';
    transition:0.5s;
}

h6:hover {
    font-family:'Batusa';
    color:#7f7cb6;
     
 }

.museum {
    font-family:'Batusa';
    padding:10px;
    font-size:14px;
    text-align:center;
    transition:1s;
    margin:10px;
}

.museum:hover {
    color:#52a368;
}

.nameText {
    font-family:'Batusa';
    font-size:25px;
    transition:0.5s;
    font-weight:bold;
}

.nameText:hover {
    color:#ebffe2;
}

    .bodyText {
        padding-top:10px;
        font-family:'Batusa';
        transition:0.5s;
    }
    
    .bodyText:hover {
        font-family:'Batusa';
    }

    .bodyText2 {
        padding-top:10px;
        font-family:'Batusa';
        font-style:italic;
        
        transition:0.5s;
    }
    
    .bodyText2:hover {
        font-family:'Batusa';
    }




a{
    font-family:'Batusa';
    color:#5c7165;
    transition:0.4s;
 
}

a:link { text-decoration: none;
    color:#5c7165; }

a:visited { text-decoration: none; color:#5c7165;}

a:hover { 
    text-decoration: none; 
    font-size:larger;
    font-style: italic;
    color:#406851;
}

a:active { text-decoration: none; }


.wide {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column; /* Flexbox >> items stack in a column */
	align-items: center; /* >> vertically centered */
	justify-content: center; /* centered horizontally */
}

.books-grid{
	display:grid;
    grid-template-columns: 1fr 1fr
}

.books-grid img{
	width: 200px;
}


/*****mobile functions******/

/* @media screen and (max-width: 750px) {
        html, body {
        max-width: 100px;
        overflow-x: hidden;
        overflow-y: scroll;
        height: inherit;
         */
        /* background-color: #d5daff;
        color:rgb(223, 255, 219); */

        /* } */

  /* header {
        display: inline-block;
        padding: 10px;
		margin-bottom: 30px;
		height: auto; */

        /* text-align:center;
        flex-direction: column; /* Flexbox >> items stack in a column */
        /* align-items: center;  vertically centered
        justify-content: center; centered horizontally */
        /* background-color: #e4e2ff;
        word-spacing:5px;
        color:rgb(225, 230, 255); */
    /* } */

/*     
    .parent{
        display:none;
    }

    .side {
            display:none;
    } */







/*font faces*/
@font-face {
    font-family: 'Germania One', cursive;
    src: url("GermaniaOne-Regular.ttf") format("TrueType");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
    font-family: 'Lato', sans-serif;
    src: url("Lato-Regular.ttf") format("TrueType");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
    font-family: 'UnifrakturMaguntia', cursive;
    src: url("UnifrakturMaguntia-Regular.ttf") format("TrueType");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
    font-family: 'EB Garamond', serif;
    src: url("EBGaramond-Regular.ttf") format("TrueType");
	font-weight: normal;
	font-style: normal;
  }

  @font-face{
    font-family:'CiaoMilan' ;
    src: url(FoNTs/CiaoMilan-Font/CiaoMilan-Regular.otf) format('OpenType');
    font-weight:normal; 
    font-style:normal;

  }


  @font-face{
    font-family:'Batusa';
    src: url(FoNTs/Batusa-Font/Batusa-Regular.otf) format('OpenType');
    font-weight:normal;
    font-style:normal;

  }


